<div class="container bg-light rounded shadow">
  <div class="d-flex align-items-center mb-3">
    <h1 class="material-symbols-rounded me-2">Invoice</h1>
  </div>

  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th class="w-35">Product Name</th>
        <th class="w-20">Quantity</th>
        <th class="w-20">Price</th>
        <th class="w-25">Total</th>
        <th class="no-print">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eachItem of invoiceItems(); let i = index">
        <td>
          <mat-form-field>
            <mat-label>Product</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              matInput
              [ngModel]="eachItem.productName"
              [matAutocomplete]="auto"
              (ngModelChange)="updateProductDetail($event, i)"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              @for (option of products; track option.id) {
              <mat-option [value]="option">{{ option.name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-form-field">
            <input
              type="number"
              matInput
              [ngModel]="eachItem.quantity"
              (ngModelChange)="calculateTotal($event, i)"
              placeholder="Quantity"
            />
          </mat-form-field>
        </td>

        <td class="no-print">{{ eachItem.price }} &#8377;</td>
        <td class="no-print">{{ eachItem.total }} &#8377;</td>
        <td class="no-print">
          <button class="btn btn-danger" (click)="removeRow(i)">
            <span class="material-icons">delete</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end mt-3">
    <button class="btn btn-primary me-2 no-print" (click)="addRow()">
      <span class="material-symbols-rounded">Add Product</span>
    </button>
  </div>

  <div class="d-flex justify-content-end align-items-center mt-2">
    <span
      style="vertical-align: middle; color: green"
      class="material-symbols-rounded"
    >
      Discount %
    </span>
    <input
      type="number"
      [(ngModel)]="discountRate"
      (input)="updateTotals()"
      class="form-control ms-2"
      style="width: 80px"
      placeholder="Rabat %"
    />
  </div>

  <div class="text-end mt-3">
    <p class="text-muted mb-1">
      <strong>Subtotal:</strong> {{ subtotal().toFixed(2) }} &#8377;
    </p>
    <p class="text-muted mb-1">
      <strong>GST:</strong> {{ taxAmount.toFixed(2) }} &#8377;
    </p>
    <p class="text-muted mb-1">
      <strong>Discount amount:</strong> {{ discountAmount.toFixed(2) }} &#8377;
    </p>
    <p class="text-primary fs-4 fw-bold mb-0">
      <strong>Total:</strong> {{ totalAmount.toFixed(2) }} &#8377;
    </p>
  </div>
</div>
