<div class="container-fluid">
  <h4>{{ title | titlecase }}</h4>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          placeholder="name"
          aria-label="name"
          aria-describedby="basic-addon1"
          (input)="setUserName($event)"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary"
        (click)="addNewUser()"
        *ngIf="userName()"
      >
        add {{ userName() }} to user List
      </button>
    </div>
    <div class="col-md-2">
      <ul class="list-group" *ngFor="let item of filteredUsersArray()">
        <li
          class="list-group-item d-flex justify-content-between align-items-center mt-1"
        >
          {{ item.name }}
          <span class="badge bg-primary rounded-pill">{{ item.age }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
