@if (isLoading()) {
  <div class="w-full">
    <div class="flex flex-col p-4 gap-4">
      <div class="flex justify-between items-center">
        <p-skeleton width="12rem" height="2rem" class="mb-2" />
        <p-skeleton width="2rem" height="2rem" class="mb-2" />
      </div>

      <div class="flex flex-wrap gap-2 items-center text-sm text-gray-700">
        <p-skeleton width="10rem" height="2rem" />
      </div>

      <div>
        <p-skeleton width="8rem" height="2rem" />
      </div>

      <div class="flex gap-2 w-full mt-2">
        <p-skeleton width="10rem" height="2rem" />
        <p-skeleton width="10rem" height="2rem" />
      </div>

      <div class="flex justify-center items-center mt-2 pt-4 border-t border-gray-200">
        <div class="flex gap-2">
          <p-skeleton shape="circle" size="4rem" class="mr-2" />
          <p-skeleton shape="circle" size="4rem" class="mr-2" />
          <p-skeleton shape="circle" size="4rem" class="mr-2" />
        </div>
      </div>
    </div>
  </div>
} @else {
  <p-dataView [value]="profileData()" [paginator]="true" [rows]="10" layout="list" class="mt-2">
    <ng-template #list let-items>
      <div class="grid grid-cols-1 w-full gap-0">
        @for (profile of items; track profile.id; let first = $first; let ri = $index) {
          <div class="w-full">
            <div class="flex flex-col p-4 gap-4" [ngClass]="{ 'border-t border-gray-200': !first }">
              <div class="flex justify-between items-center">
                <div class="text-xl font-bold text-gray-900">{{ profile.name }}</div>
                <div class="text-gray-500 text-sm">#{{ ri + 1 }}</div>
              </div>

              <div class="flex flex-wrap gap-2 items-center text-sm text-gray-700">
                <span class="flex items-center gap-1">
                  <i class="pi pi-star"></i> {{ profile.zodiacSign | titlecase }}
                </span>
                <span>|</span>
                <span class="flex items-center gap-1">
                  <i class="pi pi-map-marker"></i>
                  {{ profile.city }}
                </span>
              </div>

              <div>
                <p-tag [value]="profile.profileStatus"></p-tag>
              </div>

              <div class="flex gap-2 w-full mt-2">
                <p-button
                  [label]="profile.matrimonyId"
                  icon="pi pi-copy"
                  iconPos="right"
                  [outlined]="true"
                  severity="secondary"
                  size="small"
                  class="flex-1 w-full"
                  styleClass="w-full"
                  (onClick)="copyToClipboard(profile.matrimonyId, 'Matrimony ID')"
                >
                </p-button>
                <p-button
                  [label]="profile.mobileNumber"
                  icon="pi pi-copy"
                  iconPos="right"
                  [outlined]="true"
                  severity="secondary"
                  size="small"
                  class="flex-1 w-full"
                  styleClass="w-full"
                  (onClick)="copyToClipboard(profile.mobileNumber, 'Mobile Number')"
                >
                </p-button>
              </div>

              <div class="flex justify-center items-center mt-2 pt-4 border-t border-gray-200">
                <div class="flex gap-2">
                  <p-button
                    icon="pi pi-pencil"
                    [rounded]="true"
                    [text]="true"
                    severity="success"
                    (onClick)="userActionEvent('edit', profile.id)"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    [rounded]="true"
                    [text]="true"
                    severity="danger"
                    (onClick)="userActionEvent('delete', profile.id)"
                  ></p-button>
                  <p-button
                    icon="pi pi-eye"
                    [rounded]="true"
                    [text]="true"
                    severity="info"
                    (onClick)="userActionEvent('view', profile.id)"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </ng-template>
  </p-dataView>
}
