<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-5">
      <mat-card class="card">
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>Playlist Id</mat-label>
                <input type="text" matInput [(ngModel)]="playListID" placeholder="User Name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Playlist Name</mat-label>
                <input type="text" matInput [(ngModel)]="updatePlayList.playListName" placeholder="Playlist Name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Playlist Description</mat-label>
                <input type="text" matInput [(ngModel)]="updatePlayList.playListDescription" placeholder="Playlist Description" required>
            </mat-form-field><br>
            <mat-checkbox [(ngModel)]="updatePlayList.playListVisible">Public</mat-checkbox>
            <mat-card-actions>
                <button mat-raised-button color="primary" *ngIf="playListID && updatePlayList.playListName && updatePlayList.playListDescription" (click)="updatePlaylist()">Update PlayList</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>
