<div class="container-fluid">
  <h1 class="text-center">Spotify Application</h1>

  <div class="row g-0">

    <div class="col-3 col-md-2 ">
    <div class="col-1 ms-3 mt-3 mb-3">
        <button mat-stroked-button color="basic" routerLink="user"> User Profile Details</button>
      </div>
        <div class="col-1 ms-3 mt-3 mb-3">
        <button mat-stroked-button color="basic" routerLink="search">Search Track or Artist</button>
        </div>
      <div class="col-1 ms-3 mt-3 mb-3">
        <button mat-stroked-button color="warn" routerLink="playlist">Get User Playlist</button>

      </div>
      <div class="col-1 ms-3 mt-3 mb-3">
        <button mat-stroked-button color="primary" routerLink="createplaylist">Create User Playlist</button>

      </div>
      <div class="col-1 ms-3 mt-3 mb-3">
        <button mat-stroked-button color="accent" routerLink="updateplaylist">Update User Playlist</button>
      </div>
    </div>
    <div class="col-sm-6 col-md-8"><router-outlet></router-outlet>
    </div>
  </div>
</div>

