<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <mat-card class="card" >
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>User ID</mat-label>
                <input type="text" matInput [(ngModel)]="userId" placeholder="User ID" readonly>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Playlist Name</mat-label>
                <input type="text" matInput [(ngModel)]="newPlayList.playListName" placeholder="Playlist Name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Playlist Description</mat-label>
                <input type="text" matInput [(ngModel)]="newPlayList.playListDescription" placeholder="Playlist Description" required>
            </mat-form-field><br>
            <mat-checkbox [(ngModel)]="newPlayList.playListVisible">Public</mat-checkbox>
            <mat-card-actions>
                <button mat-raised-button color="primary" *ngIf="newPlayList.playListDescription && newPlayList.playListName " (click)="createPlaylist()">Create PlayList</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col">
      <div class="card" *ngIf="createdPlayList" style="width: 18rem;">
        <div class="text-center mt-2">
        <img [src]=" createdPlayList.images[0]?.url || 'https://images.squarespace-cdn.com/content/v1/54e14a80e4b08791c730e0a5/1425284335858-73GFIISXECU7G0M8ZPDW/ke17ZwdGBToddI8pDm48kGaHekGwP4GST6SBXsb8d557gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmgbBA9KfxWpJIziZzus6eiOT1LV0V-SQnV-p7YOIgR9VEEQXiDltBiAJYjktX3dt9/PlaylistLogo1.jpg?format=1000w'" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ createdPlayList.name }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ createdPlayList.description }}</li>
            <li class="list-group-item">Owner : {{ createdPlayList.owner.display_name }}</li>
            <li class="list-group-item"*ngIf="createdPlayList.public else private"> Public </li>
            <ng-template #private>
            <li class="list-group-item">Private</li>
            </ng-template>
            <li class="list-group-item">PlayList Id : {{ createdPlayList.id }}</li>
          </ul>
        </div>
</div>
    </div>
  </div>

</div>


