<h1 style="text-align: center;">
    10/03/2021 assignment task</h1>

<div style="margin: 50px 0px 20px 200px; ">
    <button mat-raised-button color="primary" routerLink="/">Home</button> &nbsp;
    <button mat-raised-button color="primary" routerLink="/twb">Two Way Binding</button> &nbsp;
    <button mat-raised-button color="primary" routerLink="/getapi">getapi Call</button>&nbsp;
    <button mat-raised-button color="primary" routerLink="/postapi">Post Call</button>&nbsp;
</div>
<router-outlet></router-outlet>
