---
import Layout from '../layouts/Layout.astro';
import StoryLightbox from '../components/StoryLightbox.astro';
import StoryAboutMe from '../components/StoryAboutMe.astro';
import StoryFamily from '../components/StoryFamily.astro';
import StoryFriends from '../components/StoryFriends.astro';
import StoryHobbies from '../components/StoryHobbies.astro';
import StoryCooking from '../components/StoryCooking.astro';
import StoryPhotos from '../components/StoryPhotos.astro';
import StoryFinalGallery from '../components/StoryFinalGallery.astro';
---

<Layout title="My Story - Portfolio">
  
  <StoryLightbox />

  <main class="w-full text-appleGray-900 dark:text-appleGray-50 overflow-hidden">
    <StoryAboutMe />
    <StoryFamily />
    <StoryFriends />
    <StoryHobbies />
    <StoryCooking />
    <StoryPhotos />
    <StoryFinalGallery />
  </main>
  
</Layout>
