<div class="mb-4 p-8 flex items-center justify-center h-screen">
  <p-card class="w-full max-w-md">
    <ng-template #title> Login </ng-template>
    <form class="flex flex-col gap-4" [formRoot]="loginForm">
      <p-floatlabel class="w-full" variant="on">
        <input
          pInputText
          type="email"
          inputId="login-email"
          pSize="large"
          fluid
          [class.p-invalid]="loginForm.email().touched() && loginForm.email().invalid()"
          [formField]="loginForm.email"
        />
        <label for="login-email">Email</label>
      </p-floatlabel>
      <p-floatlabel class="w-full" variant="on">
        <input
          pInputText
          type="password"
          inputId="login-password"
          pSize="large"
          fluid
          [class.p-invalid]="loginForm.password().touched() && loginForm.password().invalid()"
          [formField]="$any(loginForm.password)"
        />
        <label for="login-password">Password</label>
      </p-floatlabel>
      <p-button
        label="Save"
        class="w-full"
        styleClass="w-full"
        type="submit"
        [loading]="loginForm().submitting()"
      />
    </form>
  </p-card>
</div>
