<mat-card *ngIf="resultData" style="width: 10%; margin: 0px 20px 30px 50px; align-items: center; ">
    <h1 style="color: green;">{{resultData?.id}}</h1>
    <h2>{{resultData?.userId}}</h2>
    <h3>{{resultData?.title}}</h3>
    <h4>{{resultData?.body}}</h4>
</mat-card>


<mat-card style="width: 20%; margin: 0px 20px 30px 50px; align-items: center; ">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title" placeholder="Title">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>body</mat-label>
        <input matInput [(ngModel)]="body" placeholder="body">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>userId</mat-label>
        <input matInput [(ngModel)]="userId" placeholder="userId">
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" (click)="callPOSTAPI()">Post Call</button>

</mat-card>
