<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="userName"
            class="form-control"
          />
          <span *ngIf="checkFormControlIsValid('userName')">
            Please Enter the Username
          </span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
          />
          <span *ngIf="checkFormControlIsValid('email')">
            Please Enter the email
          </span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input formControlName="gender" type="radio" [value]="gender" />{{
              gender
            }}
          </label>
        </div>
        <div class="form-group" formGroupName="passwordForm">
          <label for="password">password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />
          <span *ngIf="checkFormControlIsValid('passwordForm.password')">
            Please Enter the password
          </span>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
