<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">
      <img
        src="../../assets/Images/corona.png"
        alt="logo"
        width="60px"
        srcset=""
      />
      Covid19
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="globalData"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <p class="nav-link active h5">
            Confirmed Cases :
            <strong class="text-primary"
              >{{ globalData.TotalConfirmed }}
            </strong>
          </p>
        </li>

        <li class="nav-item">
          <p class="nav-link active h5">
            Recovered Cases :
            <strong class="text-success"
              >{{ globalData.TotalRecovered }}
            </strong>
          </p>
        </li>
        <li class="nav-item">
          <p class="nav-link active h5">
            Deaths Rate :
            <strong class="text-danger">{{ globalData.TotalDeaths }} </strong>
          </p>
        </li>
      </ul>
      <form *ngIf="!showSearch" class="d-flex">
        <mat-form-field class="example-full-width">
          <mat-label>Select The Country</mat-label>
          <input
            matInput
            [(ngModel)]="searchKeyValue"
            name="search"
            (ngModelChange)="getSearchValue()"
            placeholder="Ex. India"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
</nav>
