<h1>aljsgbdkjhva</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories()" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Subcategory</mat-label>
    <mat-select formControlName="subcategory">
      <mat-option
        *ngFor="let subcategory of filteredSubcategories()"
        [value]="subcategory.id"
      >
        {{ subcategory.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</form>

<p *ngIf="submitResult()">Submit Result: {{ submitResult() }}</p>
