<div class="container mt-1">
  <div class="d-flex justify-content-end">
    Resource Status:&nbsp;
    <strong [ngClass]="'text-' + statusColorCode[user.status()]">
      {{ getResourceStatusKey(user.status()) }}
    </strong>
    &nbsp;
    <strong>
      {{ user.status() }}
    </strong>
  </div>
  <div class="d-flex justify-content-start mt-3">
    <mat-form-field class="dropdow">
      <mat-label>Current Table Value Limit</mat-label>
      <mat-select [(ngModel)]="selectedLimit">
        @for (limit of limitDropDownValues; track limit) {
        <mat-option [value]="limit">{{ limit }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    &nbsp; &nbsp; &nbsp;
    <div class="button">
      <button type="button" class="btn btn-success" (click)="addNewTodo()">
        add new Todo
      </button>
    </div>
  </div>
</div>

@if (user.isLoading()) {
<div class="d-flex align-items-center justify-content-center mt-3">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

} @else if (user.error()) {
<div class="d-flex align-items-center justify-content-center mt-3">
  <div class="alert alert-danger mt-3" role="alert">
    {{ user.error() }}
  </div>
</div>

} @else {
<table class="table table-hover table-bordered table-striped mt-3">
  <thead>
    <tr>
      <th>#</th>
      <th class="col-md-5 col-xs-5">Title</th>
      <th class="col-md-4 col-xs-4">Completed statue</th>
    </tr>
  </thead>
  <tbody>
    @for (eachUser of user.value(); track eachUser.id) {
    <tr>
      <th scope="row">{{ eachUser.id }}</th>
      <td>{{ eachUser.todo }}</td>
      <td>{{ eachUser.completed ? "Active" : "Inactive" }}</td>
    </tr>
    }
  </tbody>
</table>
}
