<div class="layout-wrapper">
  <div class="layout-main-container">
    <div class="layout-main">
      @let openDrawerValue = openDrawer();
      @let actionTypeValue = actionType();
      @let selectedProfileIdValue = selectedProfileId();
      <app-toolbar />
      @let profileValue = profiles.value();
      <div class="hidden md:block">
        <app-profiles-list-desktop-view
          [profileData]="profileValue ?? []"
          [isLoading]="profiles.isLoading()"
        />
      </div>
      @if (openDrawerValue) {
        <app-profile
          [actionType]="actionTypeValue"
          [openDrawer]="openDrawerValue"
          [selectedProfileId]="selectedProfileIdValue"
        />
      }
      <div class="block md:hidden">
        <app-profiles-list-mobile-view
          [profileData]="profileValue ?? []"
          [isLoading]="profiles.isLoading()"
        />
      </div>
    </div>
  </div>
</div>
