/* Only styles that cannot be achieved with Tailwind */

/* Timeline line hide on last item */
.pb-6:last-child .timeline-line {
  display: none;
}

/* Material form field overrides */
::ng-deep .mat-mdc-form-field {
  font-size: 16px;
}
::ng-deep .mat-mdc-select-disabled {
  opacity: 0.5;
}
::ng-deep .mdc-text-field--outlined {
  background: #fff;
}
::ng-deep .mat-mdc-chip-row {
  --mdc-chip-container-height: 36px;
}

/* Spinner color override */
::ng-deep mat-spinner svg {
  width: 20px !important;
  height: 20px !important;
}
::ng-deep mat-spinner circle {
  stroke: #fff !important;
}

/* Hide number input spinners on mobile */
@media (max-width: 768px) {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
