<app-header></app-header>
<div class="container-fluid text-center mt-5">
  <div class="row">
    <div
      class="col-md-4 mt-3"
      *ngFor="let eachValue of userObjectData | keyvalue; let objInd = index"
    >
      <div class="card text-center">
        <div class="card-header h3">{{ eachValue.key }}</div>
        <div class="card-body">
          <ul
            class="list-group list-group-flush"
            *ngFor="let eachMealTime of mealTime"
          >
            <li class="list-group-item">
              {{ eachMealTime }} For
              <strong>
                {{ getMealTimeAmount(eachMealTime, eachValue.value) }}
              </strong>
              Days total amount
              <strong>
                {{ getMealTimeAmount(eachMealTime, eachValue.value) * 50 }}
              </strong>
            </li>
          </ul>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <a
                  class="accordion-button collapsed text-center"
                  type="button"
                  data-bs-toggle="collapse"
                  [href]="'#' + objInd"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Day Details
                </a>
              </h2>
              <div
                [id]="objInd"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <table class="table table-primary table-striped-columns">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Date</th>
                      <th scope="col">Meal Time</th>
                      <th scope="col">Meal Consumed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let eachMealDetail of eachValue.value;
                        let ind = index
                      "
                    >
                      <th scope="row">{{ ind + 1 }}</th>
                      <td>{{ eachMealDetail.mealDate }}</td>
                      <td>{{ eachMealDetail.mealTime }}</td>
                      <td>
                        <img
                          class="text-success-emphasis"
                          src="../../assets/{{
                            eachMealDetail.mealsConsumed
                          }}.svg"
                          [alt]="
                            eachMealDetail.mealsConsumedUser +
                            eachMealDetail.mealDate
                          "
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Total {{ eachValue.value.length }} Days
        </div>
      </div>
    </div>
  </div>
</div>
