<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Attendance-Portal</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class = "col1">
                <h6>If your face gets recognised once, Press q to exit from the Face cam</h6>
                <p>( Don't close the facecam window. Use 'q' to exit )</p>
                <div class="row">
                    <div class="col-6">
                        <a href="attendance/check_in/" class="btn btn-success" style="text-decoration: none;">Check In</a>
                    </div>
                    <div class="col-6">
                        <a href="attendance/check_out/" class="btn btn-danger" style="text-decoration: none;" >Check Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col2">
            <div style="padding: 10px;">
                <h6 class="text-success">{{message}}</h6>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-6">
                    <h2><a href="{% url 'csv' %}" style="text-decoration: none;" class="btn btn-outline-primary">convert to CSV</a></h2>
                </div>
                <div class="col-6">
                    <h2><a href="{% url 'mailcsv' %}" style="text-decoration: none;" class="btn btn-outline-primary">Send Mail</a></h2>
                </div>
            </div>
            <div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Check in Time</th>
                                <th scope="col">Check out Time</th>
                                <th scope="col">Working Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in data %}
                            <tr>
                                <th>{{forloop.counter}}</th>
                                <td>{{data.Name}}</td>
                                <td>{{data.Status}}</td>
                                <td>{{data.Date}}</td>
                                <td>{{data.Check_in_Time}}</td>
                                <td>{{data.Check_out_Time}}</td>
                                <td>{{data.Working_Hours}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- <div style="text-align: center;margin-top: 50px;">
                    <h2><a href="{% url 'csv' %}" style="text-decoration: none;" class="btn btn-outline-primary">convert to CSV</a></h2>
                    <h2><a href="{% url 'mailcsv' %}" style="text-decoration: none;" class="btn btn-outline-primary">Send Mail</a></h2>
                </div> -->
            </div>
        </div>
    </div>
</body>
<style>
    .col1
    {
        max-width: 300px;
        margin: auto;
        margin-top: 300px;
        text-align: center;
    }
    .col2
    {
        margin-top: 30px;
        text-align: center;
    }
    body
    {
        padding: 20px;
    }
</style>
</html>