<app-header></app-header>
<div class="row g-3 mt-0">
    <div class="col-3">
      <mat-card class="card " *ngIf="preLoaderDisplay">
        <div class="text-center">
          <ngx-skeleton-loader  appearance="circle" [theme]="{
            width: '70px',
            height: '70px',
            'border-radius': '10px'
          }">
          </ngx-skeleton-loader>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <ngx-skeleton-loader [theme]="{
              width: '100%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px'
            }" ></ngx-skeleton-loader>
          </li>
          <li class="list-group-item">
            <ngx-skeleton-loader [theme]="{
              width: '100%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px'
            }" ></ngx-skeleton-loader>
          </li>
          <li class="list-group-item">
            <ngx-skeleton-loader [theme]="{
              width: '100%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px'
            }" ></ngx-skeleton-loader>
          </li>
        </ul>
        </div>
      </mat-card>
      <mat-card class="card m-3" *ngIf="!preLoaderDisplay">
        <div class="text-center">
          <img 
            src="https://www.countryflags.io/{{
              selectedCountryDetails?.CountryCode
            }}/shiny/64.png"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <li class="list-group-item">
            Confirmed Cases :
            <strong class="text-primary"
              >{{ selectedCountryDetails?.Confirmed }}
            </strong>
          </li>
          <li class="list-group-item">
            Active Cases :
            <strong class="text-warning"
              >{{ selectedCountryDetails?.Active }}
            </strong>
          </li>
          <li class="list-group-item">
            Deaths Rate :
            <strong class="text-danger"
              >{{ selectedCountryDetails?.Deaths }}
            </strong>
          </li>
          <li class="list-group-item">
            Recovered Rate :
            <strong class="text-success"
              >{{ selectedCountryDetails?.Recovered }}
            </strong>
          </li>
        </div>
      </mat-card>
      
    </div>
    <div id="dataFilter" class="col-9">
      <ngx-skeleton-loader *ngIf="preLoaderDisplay" count="15" [theme]="{
        width: '100%',
        'border-radius': '0',
        height: '15px',
        'margin-bottom': '10px'
      }" ></ngx-skeleton-loader>
      <app-bar-graph *ngIf="!preLoaderDisplay" ></app-bar-graph>
    </div>
    <div class="col">
      <app-pie-chart *ngIf="!preLoaderDisplay"></app-pie-chart>

    </div>
   
  </div>
  