<div class="row g-3" *ngIf="preLoaderDisplay">
  <div class="col-sm-3" *ngFor="let item of temp">
    <mat-card class="card">
      <div class="text-center">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{
            width: '70px',
            height: '70px',
            'border-radius': '10px'
          }"
        >
        </ngx-skeleton-loader>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <ngx-skeleton-loader
              [theme]="{
                width: '100%',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '10px'
              }"
            ></ngx-skeleton-loader>
          </li>
          <li class="list-group-item">
            <ngx-skeleton-loader
              [theme]="{
                width: '100%',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '10px'
              }"
            ></ngx-skeleton-loader>
          </li>
          <li class="list-group-item">
            <ngx-skeleton-loader
              [theme]="{
                width: '100%',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '10px'
              }"
            ></ngx-skeleton-loader>
          </li>
        </ul>
      </div>
    </mat-card>
  </div>
</div>
<div class="row g-3" *ngIf="!preLoaderDisplay">
  <div
    class="col-sm-3"
    *ngFor="let item of allCounterDetails | filter: searchValue"
  >
    <a
      [routerLink]="['/country']"
      [queryParams]="{ selectedCountry: item.Slug }"
      routerLinkActive="router-link-active"
      class="link-secondary"
    >
      <mat-card class="card">
        <div class="text-center">
          <img
            src="https://www.countryflags.io/{{
              item?.CountryCode
            }}/shiny/64.png"
            alt="..."
          />
          <h2>
            {{ item?.Country }}
          </h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Total Confirmed :
              <strong class="text-primary">{{ item?.TotalConfirmed }} </strong>
            </li>
            <li class="list-group-item">
              Total Recovered :
              <strong class="text-success">{{ item?.TotalRecovered }}</strong>
            </li>
            <li class="list-group-item">
              Total Deaths :
              <strong class="text-danger">{{ item?.TotalDeaths }} </strong>
            </li>
          </ul>
        </div>
        <p>More...</p>
      </mat-card></a
    >
  </div>
</div>
