<div class="container">
    <mat-card class="myCard">
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>User ID</mat-label>
                <input type="text" matInput [(ngModel)]="userId" placeholder="User Name" required>

            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" *ngIf="userId" (click)="getPlaylist()">Get PlayList</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col  mt-3"  *ngFor="let item of playListDetails; let i = index">
      <div class="card" style="width: 18rem;">
        <div class="text-center mt-2">
        <img [src]=" item.playListImage" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.playListName }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ item.playListDescription }}</li>
            <li class="list-group-item">Owner : {{ item.playListOwner }}</li>
            <li class="list-group-item"*ngIf="item.playListVisible else private"> Public </li>
            <ng-template #private>
            <li class="list-group-item">Private</li>
            </ng-template>
            <li class="list-group-item">PlayList Id : {{ item.playListID }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
