.bg {
  background-image: url(https://freefrontend.com/assets/img/html-funny-404-pages/HTML-404-Error-Page.gif);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

