<h3>{{ title }}</h3>
<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <input
    formControlName="userName"
    type="text"
    name="username"
    placeholder="username"
  />
  <ng-container formGroupName="address">
    <input
      formControlName="state"
      type="text"
      name="state"
      placeholder="state"
    />
    <input
      formControlName="country"
      type="text"
      name="country"
      placeholder="country"
    />
  </ng-container>
  <button type="submit">submit</button>
</form>
